.responsive {
    width: 30%;
    height: auto;
  }
@media screen and (min-width: 300px) {
    body {
      background-color: rgb(15, 50, 100);
    }
}
h1 {
    text-align: center;
    color:beige;
    font-family: Arial, Helvetica, sans-serif;
    text-size-adjust: auto;

}
* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}
.menu {
  text-align: left;
  color:beige;
  font-family: Arial, Helvetica, sans-serif;
  text-size-adjust: auto;
  text-indent: 2%;

}